// Colors
/* our base color - body and typography */
$clr-base: #F2F4F3;
$clr-base-drk: #0A0908;
/* primary brand color  */
$clr-primary: #a9927d;
$clr-primary-drk: #49111c;
/* neutrals */
$clr-ntrl-min: #fff;
$clr-ntrl-max: #000;
/* notifications */
$clr-error: #fc7575;
// Font Family
$ff-base: 'Nunito';