.items {
    display: grid;
    grid-template-columns: repeat(auto-fill, min(calc(200px + (2 * 2rem))));
    grid-gap: 3rem;
    justify-content: center;
  }
  @media (min-width: 600px) {
    .items {
      grid-template-columns: repeat(auto-fill, min(calc(400px + (2 * 2rem)) + 2rem));
    }
  }
  